*{
  margin: 0;
  padding: 0;
}

.header-container{
  background-image: url('images/banner/banner2.png');
  height: 780px;
  width: 100%;
  background-repeat: no-repeat;
}

.header-item{
  padding-top: 195px;
  padding-left: 680px;
  width: 520px;
  text-align: right;
}

.header-item h2{
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  margin-bottom: 10px;
  font-size: 50px;
}

.header-item p{
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
}

.header-item button{
  font-family: "Noto Sans", sans-serif;
  border: none;
  padding: 10px 12px;
  background-color: #F15B22;
  color: white;
  border-radius: 4px;
  font-size: 21px;
}

.header-item button:hover{
  border: 1px solid orangered;
}

/* -------------------------------
main part
---------------------------------- */

.main-part{
  padding: 80px;
  display: flex;
}

.part1 img{
  width: 500px;
  height: 600px;
}

.part2{
  width: 290px;
  margin-top: 175px;
  margin-left: 160px;
}

.part2 h2{
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  margin-bottom: 15px;
  font-size: 32px;
}

.part2 p{
  font-family: "Noto Sans JP", sans-serif;
  width: 360px;
  margin-bottom: 15px;
}

.part2 li{
  list-style: none;
  font-family: "Noto Sans JP", sans-serif;
  width: 320px;
  margin-bottom: 10px;
}

.part2 li i{
  color: #22C136;
}

/* ----------------
plan styling
-------------- */

.plans-container{
  background-color: rgb(241, 241, 245);
  padding: 20px;
}

.plans h2{
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  margin-top: 20px;
  text-align: center;
}

.plans-content{
  display: flex;
  margin: 40px auto;
  justify-content: center;
}

.plans-item{
  text-align: center;
  margin: 0 50px;
}

.plans-item h3{
  font-family: "Kanit", sans-serif;
  font-weight: 800;
}

.plans-item p{
  font-family: "Noto Sans JP", sans-serif;
}